input[type="text"].smaller {
    flex: 2 1 0px;
  }

  .rating
  {
      display: block;
  }
  
  .restaurantName
  {
      display: block;
  }

  span.favorite
  {
      display: none;
  }

  .fav
  {
      background-color: gold;
  }

  .recomendation
  {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }